 .text-base__title {
	font-size: 2rem;
	font-weight: 700;
	text-transform: uppercase;
}
.text-base__headline {
	font-weight: 700;
	font-size: 2.25rem;
	line-height: 1.05;
	color: black;
}
.text-base__content {
	line-height: 1.25;
	font-size: 1rem;
	font-weight: 400;
}
.flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}
.flex-space-between {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.site-header__wrapper {
	background: firebrick;
	position: relative;
}
.site-header__wrapper.show {
	top: 0;
}
.no-scroll {
	overflow-y: hidden;
}
.site-header__container {
	padding: .625rem;
}
.site-header__bar {
	background-color: black;
	height: 1.25rem;
}
.site-header__left, .site-header__right, .site-header__center {
	flex: 1 0 0;
}
.btn, .btn i {
	white-space: nowrap;
	margin-right: 0.938vw;
	padding: 0.313rem;
	box-sizing: border-box;
	cursor: pointer;
	background-color: transparent;
	font-family: sans-serif;
	color: white;
	font-weight: 700;
	justify-content: center;
	align-items: center;
	position: relative;
}
#login-button, #selects-button {
	border: 1px solid white;
	border-radius: 0;
}
#login-button:hover, #selects-button:hover {
	background-color: white;
	color: black;
}
#login-button {
	margin-left: 2rem;
	padding: 0.313rem 1.438rem;
}
#mail-button, #search-button {
	font-size: 1.5rem;
	opacity: 1;
}
#mail-button:hover, #search-button:hover {
	color: white;
	opacity: 0.5;
}
.search_submit {
	width: 8.4375rem;
	background-color: firebrick;
	cursor: pointer;
	border-radius: 30px;
	margin: 1.25rem 0;
	padding: 0;
	position: relative;
	border: transparent;
}
.search__submit-text {
	color: white;
	display: inline-block;
	font-size: 1rem;
	font-weight: 700;
	padding-bottom: .125rem;
	text-transform: uppercase;
}
.dropdown-container {
	position: relative;
}
.dropdown-menu {
	display: none;
	background-color: white;
	position: absolute;
	padding-top: 1rem;
	font-size: 1rem;
	left: 0 !important;
	top: calc(100% + 10px);
	font-weight: 700;
	height: 37.5rem;
	overflow-y: auto;
	z-index: 10;
}
.dropdown-menu a {
	display: inline-block;
	width: 100%;
	height: auto;
	position: relative;
	text-decoration: inherit;
	color: black;
	border: 2px solid transparent;
	padding: .5625rem 12rem .4375rem 1.25rem;
	box-sizing: border-box;
}
.dropdown-menu a:hover {
	background-color: #ddd;
}
#arrow {
	display: none;
	position: absolute;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid white;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
}
.search--header {
	display: none;
	background-color: white;
	box-shadow: 0 5px 10px darkgray;
	height: 6.25rem;
	left: 0;
	max-width: 100%;
	overflow: hidden;
	padding-left: 1rem;
	top: 6.625rem;
	transform-origin: top;
	transition: top .35s ease-in-out,transform .35s ease-in-out;
	width: 100vw;
	position: fixed;
	z-index: 9999;
}
.search__form {
	max-width: 60.625rem;
	width: 95%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	top: 0;
	padding-right: 2rem;
}
.search__inner {
	flex-grow: 1;
	height: 60%;
	margin-top: 1.25rem;
	width: auto;
	outline: 1px solid transparent;
	border-radius: 30px;
	position: relative;
	border: 1px solid black;
	margin-right: 2rem;
}
.search__input.fa-search {
	font-size: 1.5rem;
	color: firebrick;
	background-color: transparent;
}
#search-inner {
	font-size: 1.5rem;
	color: firebrick;
	font-weight: normal;
	justify-content: flex-start;
}
.search__input {
	display: flex;
	background-color: transparent;
	justify-content: left;
	align-items: center;
	padding: .75rem 3.125rem 1.2rem 1rem;
}
.search-inner-text {
	padding-left: 1rem;
	font-size: 1rem;
	font-weight: 700;
	color: darkgray;
}
.breaking_news__container {
	padding: 1.25rem;
	margin: 0 auto;
}
.breaking_news__title {
	background-color: yellow;
	font-weight: 700;
	width: 100%;
}
.breaking_flag {
	background-color: black;
	float: left;
	padding-right: 0.313rem;
	padding-left: 0.313rem;
	margin-bottom: 0.5rem;
	color: white;
	line-height: 1.5rem;
	font-size: 1rem;
}
img {
	width: 100%;
	height: auto;
	vertical-align: center;
	position: relative;
	margin-bottom: .9375rem;
}
.site-header__center img {
	width: 28.125rem;
	height: auto;
}
.site-header__right img {
	width: 11.875rem;
	height: auto;
}
.img--not {
	margin-bottom: 0;
}
.body {
	border: 0;
	box-sizing: border-box;
	padding: 0;
	font-family: sans-serif;
}
.wrapper {
	display: flex;
	padding-top: 1.5rem;
}
.content {
	margin: 0 auto;
	width: 66rem;
}
.articles_section {
	width: 60%;
}
@media (max-height: 1024px) {
	.articles_section {
		width: 100%;
		padding-right: 0;
	}
}
.main_article {
	position: relative;
	text-align: center;
}
.main_title {
	color: firebrick;
	font-weight: 700;
	font-size: 4rem;
}
.main_article_text {
	color: darkslategray;
	text-align: left;
}
.flag {
	font-size: .8125rem;
	font-weight: 700;
	text-transform: uppercase;
}
.flag_layout {
	display: inline-block;
	vertical-align: top;
	background-color: firebrick;
	color: white;
	line-height: 1;
	padding: 0.25rem 0.5rem;
	transform: skew(-10deg);
}
.three_articles_layout {
	border-top: 1px solid darkgray;
	padding-top: 1.25rem;
	margin: 1.25rem 0;
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	grid-gap: 0;
	align-content: start;
}
.triplets_article {
	border-right: 1px solid darkgray;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	display: block;
}
.triplets_title {
	font-size: 1rem;
	color: black;
}
.advertising {
	border-top: 1px solid darkgray;
	padding-top: 1.25rem;
	margin-bottom: 1.25rem;
	text-align: center;
}
.adv_label {
	font-size: .625rem;
	font-weight: 600;
	text-transform: uppercase;
	color: black;
	border-bottom: 1px solid darkgray;
}
.three_split_two_articles {
	padding-top: 1.25rem;
	margin: 1.25rem 0;
	align-content: start;
	display: grid;
	grid-gap: 1.25rem;
	grid-template-columns: 2fr 1fr;
}
.biggest_article {
	border-bottom: 0;
	display: flex;
	flex-direction: column;
	border-right: 1px solid darkgray;
	padding-right: 1.25rem;
}
.biggest_a_text {
	color: darkslategray;
	margin-bottom: 0;
	display: block;
}
.article {
	padding-bottom: 1.1rem;
	border-bottom: 1px solid darkgray;
	margin-bottom: 1.1rem;
}
.article--not {
	border-bottom: 0;
}
.upper_text {
	margin-bottom: 0;
	font-size: 1rem;
}
.graphic_opinion {
	margin: 1.25rem 0;
	border: 0;
	box-sizing: border-box;
	padding: 0;
}
.graphic_opinion_header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1.25rem;
	position: relative;
}
.graphic_opinion_header:before {
	background: black;
	content: "";
	display: block;
	height: 0.188rem;
	left: 0;
	position: absolute;
	top: calc(50% - 0.375rem);
	width: calc(100% - 0.063rem);
}
.content-header-left {
	margin-bottom: 0.375rem;
	padding-left: 1.5625rem;
	position: relative;
}
.content-header-left-title {
	color: firebrick;
	font-size: 1.875rem;
	line-height: .94;
	transform: skew(-10deg);
}
.content-header-left-title {
	background-color: white;
	border: 3px solid black;
	border-left-width: 0.063rem;
	box-shadow: -1px 1px 0 black, -2px 2px 0 black, -3px 3px 0 black, -4px 4px 0 black, -5px 5px 0 black, -6px 6px 0 black;
	padding: .625rem .9375rem;
	cursor: pointer;
	line-height: .94;
}
.content-header-right {
	align-items: center;
	display: flex;
	margin-bottom: 0.438rem;
	width: auto;
	background: white;
	position: relative;
	text-align: left;
}
.see_all {
	color: black;
	font-size: .8125rem;
	line-height: 1.1;
	font-weight: 700;
	cursor: pointer;
	text-transform: uppercase;
}
.side_bar {
	width: 40%;
	text-align: center;
	padding-left: 1.5rem;
}
.graphic_social {
	padding: 1rem 0;
	margin: 2rem 1rem;
	border-bottom: 3px solid black;
	border-top: 3px solid black;
}
.social_follow {
	color: firebrick;
	font-size: 0.8rem;
	margin-bottom: 0;
}
.border_articles {
	margin: 2rem 0;
	border: 1px solid darkgray;
	display: flex;
	flex-direction: column;
	padding: .9375rem 1.1rem;
}
.headline_articles {
	text-align: left;
	color: black;
	font-size: 1.4375rem;
	line-height: .73;
	margin-bottom: 1.25rem;
}
#block {
	position: sticky;
	top: 0;
}
.final-articles-section {
	display: grid;
	justify-content: space-between;
	grid-gap: 1.25rem;
	align-content: start;
	grid-template-columns: repeat(3, minmax(0, 1fr));
}
.down_sections_layout {
	font-family: sans-serif;
	margin: 0 0.625rem;
}
.down_sections {
	border-bottom: 1px solid darkgray;
	border-top: 2px solid black;
	margin-bottom: 1rem;
	position: relative;
	display: block;
	text-decoration: inherit;
}
.down_sections_title {
	font-size: 1.125rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	line-height: .85;
	color: firebrick;
	margin: 0;
	cursor: pointer;
}
.bottom_half {
	box-sizing: border-box;
}
.down_story_headline {
	color: black;
	font-size: 1rem;
	border-bottom: 1px solid darkgray;
	padding-top: 0.5rem;
	padding-bottom: 0.8rem;
}
.down_story_headline_last {
	border-bottom: 0;
}
.site-footer {
	border-top: .3125rem solid firebrick;
	padding-top: 1.875rem;
	text-align: left;
	background-color: white;
}
.site-footer_wrapped {
	margin: 0 auto;
	width: 69rem;
	display: flex;
	flex-direction: column;
}
.site-footer_wrapped img {
	width: 13.75rem;
	height: auto;
}
.footer-navigation {
	display: block;
}
.footer-nav #main-ul {
	display: grid;
	grid-template-columns: repeat(5, minmax(auto, 1fr));
	list-style-type: none;
	text-decoration: none;
}
ul {
	padding-left: 0;
}
.list {
	list-style-type: none;
	text-decoration: none;
}
.title a {
	text-decoration: none;
	color: black;
	cursor: default;
	font-size: 0.7rem;
	font-weight: 700;
	text-transform: uppercase;
}
.list a {
	font-size: 0.6rem;
	font-weight: 600;
	color: darkgray;
}
@media (max-width: 1024px) {
	#search-inner {
		display: none;
	}
	.search__input {
		padding-bottom: 1.3125rem;
		padding-left: 0rem;
		padding-top: 0rem;
	}
	.search_submit {
		background-color: firebrick;
		border-radius: 0 30px 30px 0;
		margin: 1.25rem 0;
		padding: 0;
		position: relative;
		transition: opacity .2s ease-in-out;
		width: 2.75rem;
		border: none;
		cursor: pointer;
		outline: none;
		overflow: visible;
		text-decoration: none;
	}
	.search__inner {
		background-color: transparent;
		border-radius: 30px 0 0 30px;
		font-size: 1rem;
		font-weight: 700;
		padding-bottom: 1.3125rem;
		padding-left: 1.875rem;
		padding-top: 1.1875rem;
		margin-right: 0;
		width: 100%;
	}
	.search__submit-text {
		display: none;
	}
	.site-footer {
		display: flex;
		text-align: center;
		justify-content: center;
	}
	.search--header {
		top: 5.365rem;
		transform: scaleY(100%);
	}
	#page-six, .side_bar {
		display: none;
	}
	#login-button {
		margin-left: 0;
	}
	.site-header__right {
		justify-content: flex-end;
	}
	.content {
		width: 100%;
		height: auto;
	}
	.articles_section {
		width: 100%;
	}
}
@media (max-width: 769px) {
	#dropdown-menu {
		width: 100vw;
		height: 100vw;
	}
	.graphic_opinion_header {
		justify-content: center;
	}
	.search--header {
		top: 4.24rem;
		transform: scaleY(100%);
	}
	.see_all {
		display: none;
	}
	.site-header__bar {
		display: none;
	}
	.site-header__wrapper.site-header__container {
		height: 50%;
	}
	#login-button {
		border: none;
	}
	#login-button .fas, #login-button .fa-user {
		display: none;
	}
	.site-header__right {
		justify-content: flex-end;
	}
	.site-header__left {
		justify-content: flex-start;
	}
	#selects-button {
		border: 0 solid white;
		padding: 0;
		box-sizing: content-box;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	#selects-button span {
		display: none;
	}
	#selects-button .fa-1x {
		font-size: 1.5rem;
	}
	.final-articles-section {
		grid-template-columns: repeat(1, minmax(0, 1fr));
	}
	.site-header__center img {
		width: 100%;
	}
	.search__inner {
		font-weight: 700;
		padding-bottom: 1.3125rem;
		padding-left: 1.875rem;
		padding-top: 1.1875rem;
	}
	.search__input {
		display: block;
		padding-bottom: 1.3125rem;
		padding-left: 0rem;
		padding-top: 0rem;
	}
}
